.btn {
    text-transform: capitalize;
  }
  .red {
    background-color: red;
  }
  .green {
    background-color: green;
  }
  .yellow {
    background-color: yellow;
    color: black;
  }

  .last-btn {
    order: 1;
  }
  .first-btn {
    order: -1;
  }